In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv('filtered_robot_log.csv')
data.head()

    local_w  odometry_theta
0 -0.304878             0.0
1 -0.304878             0.0
2 -0.426829             0.0
3 -0.426829             0.0
4 -0.426829             0.0

In [5]:
data.describe()

            local_w  odometry_theta
count  20000.000000    20000.000000
mean     -12.856930       -1.259055
std       46.180525        2.181052
min     -488.902439       -3.141588
25%      -21.097561       -3.000602
50%       -1.768293       -2.488462
75%        1.829268        0.000000
max     1498.414634        3.141540

In [6]:
data[:3500].describe()  #:3674
#parte dos dados onde o robo est√° parado

           local_w  odometry_theta
count  3500.000000          3500.0
mean     -0.417700             0.0
std       0.141900             0.0
min      -0.853659             0.0
25%      -0.487805             0.0
50%      -0.426829             0.0
75%      -0.304878             0.0
max       0.060976             0.0

In [7]:
data[3700:].describe() #3675
#robo est√° andando

            local_w  odometry_theta
count  16300.000000    16300.000000
mean     -15.656857       -1.544851
std       50.733987        2.322784
min     -488.902439       -3.141588
25%      -27.256098       -3.065111
50%       -7.743902       -2.690105
75%        5.000000       -1.499324
max     1498.414634        3.141540

In [8]:
filtro_offset = data.abs()['local_w'] < 0.1
data_filtrado = data[filtro_offset]
data_filtrado.describe()

          local_w  odometry_theta
count  193.000000      193.000000
mean    -0.016113       -1.319259
std      0.043457        2.186937
min     -0.060976       -3.141004
25%     -0.060976       -3.099311
50%      0.000000       -2.727285
75%      0.000000        0.000000
max      0.060976        3.133548

In [9]:
data[:3500].abs().describe()

           local_w  odometry_theta
count  3500.000000          3500.0
mean      0.417840             0.0
std       0.141489             0.0
min       0.000000             0.0
25%       0.304878             0.0
50%       0.426829             0.0
75%       0.487805             0.0
max       0.853659             0.0